body {
    font-family: 'Inter', sans-serif;
}

label {
    cursor: pointer;
}

.pagina {
    display: flex;

}

h1 {
    font-family: sans-serif;
    font-size: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin-top: 1.5%;
    margin-bottom: 0%;
}

.titulo2 {
    color: #636AE8;
    margin-top: 1%;
    margin-bottom: 0%;
    margin-right: 0.2%;
    font-style: italic;
}

.bloc23 {
    display: flex;
    width: 100%;
}

.agua {
    background-color: blue;
}

.tocado {
    background-color: red;

}

.hundido {
    background-color: black;

}

.bloc1 {
    border-radius: 20px;
    text-align: center;
    width: 33%;
    justify-content: center;
    height: 100%;
}

.menuConf {
    border: 1px solid rgb(112, 108, 108);
    border-radius: 20px;
    padding: 3%;
    text-align: center;
    justify-content: center;

}

.medidas {
    display: flex;
    margin: 5%;
    margin-bottom: 7%;
}

.filas {
    margin-right: 20%;
}

#filas {
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
    padding: 10%;
    margin-top: 10%;
}

#columnas {
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
    padding: 10%;
    margin-top: 10%;
}

.num-barcos {
    text-align: left;
    margin-bottom: 7%;
    margin-left: 7%;
    margin-top: 5%;
}

#numBarcos {
    width: 90%;
    border-radius: 5px;
    height: 5px;
}


.dificultad {
    text-align: left;
    margin-left: 7%;
    margin-bottom: 7%;

}

#nombre {
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
    padding: 3%;
    margin-top: 3%;
}

#datos {
    margin: 5%;
    background-color: #636AE8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5% 35%;
    font-weight: bold;
    cursor: pointer;
}

#reiniciar {
    margin-top: 6%;
    border-radius: 10px;
    padding: 6% 35%;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(112, 108, 108);
}

#abandonar {
    text-align: center;
    margin-top: 6%;
    border-radius: 10px;
    padding: 6% 32%;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    border: none;
    background-color: rgb(226, 37, 37);
    color: white;
}

.difcultad {
    border: 1px solid rgb(112, 108, 108);
    padding: 6%;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.dificil {
    border: 1px solid rgb(112, 108, 108);
    padding: 6%;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    background-color: red;
}

.mando {
    margin-top: 10%;
    width: 80%;
    height: 80%;
}

.bloc2 {
    display: none;
    border-radius: 20px;
    width: 66%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

.tablero {
    border-radius: 20px;
    border: 1px solid rgb(112, 108, 108);
    padding: 3%;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 7px;
    background-color: rgb(144, 184, 236);
    height: 100%;
}

#tabla {
    border: 1px solid black;
}

#tabla td {
    height: 40px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;

}

#tabla td:hover {
    background-color: beige;
}

.botonDisparo {
    border-radius: 20px;
    border: 1px solid rgb(112, 108, 108);
    padding: 6% 3%;
    margin-top: 4%;
    text-align: center;
}

#disparar {
    background-color: #636AE8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 3% 35%;
    font-weight: bold;
    cursor: pointer;

}


#bloc3 {
    display: none;
    border-radius: 20px;
    border: 1px solid rgb(112, 108, 108);
    padding: 3%;
    width: 33%;
    justify-content: center;
    height: 100%;
}

.marcador {
    display: flex;
}

.puntos {
    color: #636AE8;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0%;
}

#puntosGanados {
    margin-top: 0px;
    padding: 0%;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 0%;
    margin-left: 13%;
}

.jugador {
    color: #636AE8;
    font-weight: bold;
    font-size: 20px;
}

.disparos {
    display: flex;
}

.disparosAcertados {
    margin-right: 4%;
}

.disparosAcertados,
.disparosFallados,
.barcosHundidos {
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 20px;
    font-size: 14px;
    color: #555;
    width: 45%;
}

#ultimaJugada {
    color: gray;
    margin-top: 15%;
}

#final {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 0%;
}

.imagenMario {
    margin-top: 30%;
    display: flex;
    margin-left: 20%;

}

.mario {
    width: 70%;
    height: auto;
    display: block;
}



#estadisticas {
    display: none;
    padding-top: 1%;
    margin-top: -10px;
    padding: 25px;
    width: 60%;
    margin: auto;
    margin-top: 1px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid rgb(112, 108, 108);

}

#estadisticas h2,
#estadisticas h3 {
    margin-bottom: 15px;
    color: #333;
}

.info-general p {
    font-size: 18px;
    margin: 5px 0;
}

.tabla-top5 {
    width: 100%;
    margin-top: 15px;
}

.tabla-top5 th {
    background: #636AE8;
    color: white;
    padding: 8px;
    font-size: 16px;
}

.tabla-top5 td {
    border: 1px solid black;
    padding: 8px;
    font-size: 15px;
}

/*VISTA TABLET*/
@media screen and (max-width: 1024px) {

    .pagina {
        display: flex;

    }

    .bloc23.finalizado {
        display: none;
    }


    #bloc1 {
        order: 1;
        width: 50%;
    }

    .bloc23 {
        order: 2;
        width: 100%;
        flex-direction: column;
    }

    #bloc2 {
        display: none;
        order: 3;
        width: 100%;
        margin-top: 3%;
    }

    #bloc3 {
        display: flex;
        width: 100%;
        height: 25%;
        padding: 0%;
        margin: 0%;
        margin-left: 1%;
    }

    .bloc3p1 {
        display: flex;
        width: 100%;
    }

    .estats2 {
        margin-right: 5%;
        margin-left: 6%;
    }

    .jugador {
        color: #636AE8;
        font-weight: bold;
        font-size: 12px;
        display: flex;

    }

    .puntos {
        color: #636AE8;
        font-weight: bold;
        font-size: 16px;
        margin-top: 0%;
        display: flex;

    }

    .disparosAcertados,
    .disparosFallados,
    .barcosHundidos {
        padding: 2px;
        background-color: #f0f0f0;
        border-radius: 20px;
        font-size: 8px;
        color: #555;
        width: 60px;
        height: 20%;
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 11px;
    }

    .marcador {
        display: flex;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 4%;
    }

    .disparos {
        display: flex;

    }

    .jugadas {
        margin-top: 5%;
        margin-right: 0%;
        width: 15%;
    }

    #ultimaJugada {
        margin-top: 0%;
        margin-left: 0%;
        font-size: 14px;
    }

    .hr {
        display: none;
    }

    .imagenMario{
        display: none;
    }
}

/*VISTA MOVIL*/

@media screen and (max-width: 450px) {
    .pagina {
        display: flex;
        flex-direction: column;
    }

    #bloc1 {
        width: 100%;
        height: 3%;
    }

    .menuConf {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
    }

    .bloc1p1 {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .imagenMando{
        display: none;
    }

    .medidas {
        display: flex;
        flex-direction: row;
    }

    .filas label,
    .columnas label {
        display: block;
        font-size: 12px;
    }

    #filas,
    #columnas {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }


    .num-barcos label {
        display: block;
        font-size: 11px;
    }

    #numBarcos {
        width: 100%;
        height: 4px;
        margin-top: 0%;
    }

    .dificultad {
        flex: 1;
        display: flex;
        flex-direction: column;

    }

    .dificultad label {
        font-size: 12px;
    }


    .botones {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .botones label {
        font-size: 12px;
        margin-bottom: 5px;
    }

    #nombre {
        width: 100%;
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #datos {
        margin-left: 0%;
        margin-top: 0%;
    }

    #datos,
    #reiniciar,
    #abandonar {
        width: 100%;
        padding: 4px;
        border-radius: 4px;
        font-size: 10px;
        cursor: pointer;
        border: none;
    }

    #datos {
        background: #636AE8;
        color: white;
    }

    #bloc3 {
        display: flex;
        width: 100%;
        height: 25%;
        padding: 0%;
        margin: 0%;
        margin-left: 1%;
    }

    .bloc3p1 {
        display: flex;
        width: 100%;
    }

    .estats2 {
        margin-right: 5%;
        margin-left: 6%;
    }

    .jugador {
        color: #636AE8;
        font-weight: bold;
        font-size: 11px;
        display: flex;

    }

    .puntos {
        color: #636AE8;
        font-weight: bold;
        font-size: 15px;
        margin-top: 0%;
        display: flex;

    }

    .disparosAcertados,
    .disparosFallados,
    .barcosHundidos {
        padding: 2px;
        background-color: #f0f0f0;
        border-radius: 20px;
        font-size: 8px;
        color: #555;
        width: 60px;
        height: 20%;
        display: flex;
    }

    h2 {
        font-size: 10px;
    }

    .marcador {
        display: flex;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 4%;
    }

    .disparos {
        display: flex;

    }

    .jugadas {
        margin-top: 5%;
        margin-right: 0%;
        width: 15%;
    }

    #reiniciar {
        background: white;
        border: 1px solid #ddd;
        color: #333;
    }

    #abandonar {
        background: #e02325;
        color: white;
    }

    #textoDificultad {
        padding: 5px;
        border-radius: 4px;
        font-size: 12px;
        text-align: center;
        margin: 5px 0;
    }

    #ultimaJugada {
        display: none;
    }

    #estadisticas {
        height: auto;
        margin-top: 0px;
        padding: 15px;
        width: 60%;
        margin: auto;
        border-radius: 12px;
        text-align: center;
    }

    #estadisticas h2,
    #estadisticas h3 {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .info-general p {
        font-size: 14px;
        margin: 3px 0;
    }

    .tabla-top5 {
        width: 100%;
        border-collapse: collapse;
        margin-top: 8px;
        font-size: 12px;
    }

    .tabla-top5 th {
        background: #0077ff;
        color: white;
        padding: 4px;
        font-size: 12px;
    }

    .tabla-top5 td {
        border: 1px solid black;
        padding: 3px;
        font-size: 11px;
    }

    #final {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 0%;
    }


}

/*REAJUSTE DE PANTALLA*/

@media screen and (max-width: 775px) {
    #estadisticas {
        height: auto;
        margin-top: 0px;
        padding: 15px;
        width: 60%;
        margin: auto;
        border-radius: 12px;
        text-align: center;
    }

    #estadisticas h2,
    #estadisticas h3 {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .info-general p {
        font-size: 14px;
        margin: 3px 0;
    }

    .tabla-top5 {
        width: 100%;
        border-collapse: collapse;
        margin-top: 8px;
        font-size: 12px;
    }

    .tabla-top5 th {
        background: #0077ff;
        color: white;
        padding: 4px;
        font-size: 12px;
    }

    .tabla-top5 td {
        border: 1px solid black;
        padding: 3px;
        font-size: 11px;
    }

    #final {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 0%;
    }

}

/*REAJUSTE DE PANTALLA*/
@media screen and (max-width: 370px) {
    #estadisticas {
        height: auto;
        margin-top: 0;
        padding: 10px;
        width: 90%;
        margin: auto;
        border-radius: 8px;
        text-align: center;
        overflow: hidden;
    }

    #final {
        font-size: 24px;
    }

    #estadisticas h2,
    #estadisticas h3 {
        margin-bottom: 5px;
        color: #333;
        font-size: 12px;
    }

    .info-general p {
        font-size: 11px;
        margin: 2px 0;
        line-height: 1.2;
    }

    .tabla-top5 {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;
        font-size: 10px;
        overflow-x: auto;
        display: block;
    }

    .tabla-top5 th {
        background: #0077ff;
        color: white;
        padding: 2px 4px;
        font-size: 10px;
    }

    .tabla-top5 td {
        border: 1px solid #ccc;
        padding: 2px 3px;
        font-size: 9px;
    }
}